@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";


body {
 
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1e293b;
  --color-secondary: #f1f5f9;
  --color-accent: #38bdf8;
  --font-main: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}



.font-inter {
  font-family: 'Inter', sans-serif;
}