@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: #1e293b;
  --color-secondary: #f1f5f9;
  --color-accent: #38bdf8;
  --font-main: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--font-main);
  background-color: var(--background);
  color: var(--color-secondary);
}

/* Priorité sur les utilitaires Tailwind pour le corps de texte par défaut */
body.font-inter {
  font-family: var(--font-main);
  color: var(--color-secondary);
}

main {
  font-family: var(--font-main);
}

.font-inter {
  font-family: var(--font-main);
}